<div id="portada">
<br> <br><br>
  <div id="datos">
    <strong id="nombre">Luis Fernando <br> <br> Camacho Velasco</strong>
<br><br><br>
    <ul>
    <li>
      <i class="fa-solid fa-phone whatsapp" ></i>
      <br>
      <a href="https://wa.me/+59171711279">whatsapp 71711279</a>
    </li>

    <li>
      <i class="fa-solid fa-location-dot"></i>
      <br>
      <b>Direccion:</b> 
      <br>
      Av. Blango Galindo Km 5 1/2 Zona Coña Coña 
    </li>

    <li>
      <i class="fa-solid fa-envelope"></i><br>
      <b>Correo Electronico:</b>
      <br>
      luisfcv@gmail.com
    </li>

    <li>
      <i class="fa-solid fa-calendar"></i><br>
      <b>Fecha de Nacimiento:</b>
      <br>
      27/11/1997
    </li>
  </ul>

  <br><br><br><br>
  
    <div  class="sobre-mi">
      <h3>Sobre mi</h3>
      <p> 

<br>

Persona seria, puntual, con iniciativa para resolver los problemas 
eficientemente, con facilidad de palabra y muchas ganas de trabajar y aprender,
cuenta con capacidad de liderazgo y de organización de equipos.
      </p>
    </div>
  </div>

  <div id="foto-port">
    <img src="../../../assets/img/foto.jpeg" alt="foto-perfil">
  </div>
</div>
