<div id="contenedor" >
  <div class="container">
  <ul class="team">
    <!-- Educacion -->
  <div id="educacion" class="member">
    <h2>Formación</h2>

      <div class="back thumb">
        <p class="lugar description">SOLANING S.R.L. (Capacitación)</p>
        <p>En Desarrollo de Aplicaciones Web</p>
        <p>Alumno de 4to mes</p>
        <br>

        <p class="lugar description">Instituto Técnico Nacional de comercio Alvarez Plata  Nocturno</p>
        <p>Sistemas Informáticos <br> <br>
          Alumno de 1er año - Técnico Superior</p> <br>

        <p class="lugar description">Secundaria</p>
        <p>Unidad Educativa 8 de Mayo</p> 
        <p>Bachillerato en Humanidades</p>
        
        <h2>Cursos Complementarios</h2>

        <p class="lugar description">Cursos Complementarios</p>
        <p>-SOLANING S.R.L. (Capacitación) <br>
          Macros, VBA Excel y Programación Orientada a Objetos <br> <br> <br>
          
          -Instituto Técnico Nacional de comercio Alvarez Plata  Nocturno<br>
          Seminario sobre tecnologías emergentes <br> <br> <br>
      
          -Ambientes de JalaSoft <br>
           Simposio I: Aplicaciones de robótica e Inteligencia Artificial <br> <br> <br>
      
      
          -Escuela Quintanilla "A" <br>
          Cursos de Inglés básico</p>

      </div>

  </div>

  <div class="fondo member">
    <div id="competencias" class="curriculum thumb">
      <h2>Experiencia Laboral</h2>

      <p class="lugar description">-Café internet "Oscar´s" <br> <br>
        Ciber Internet <br> <br>
        Administrador</p>
    </div>
  </div>


  <!-- Habilidades -->
  <div class="fondo member">
    <div id="competencias" class="curriculum thumb">
      <h2>Habilidades</h2>

      <p class="lugar description">-Prácticas de programación en HTML, JavaScript, C#, Arduino <br> <br>
        -Programacion de una calculadora (JavaScript y C#) <br> <br>
        -Programacion de un reloj digital (JavaScript) <br> <br>
        -Programacion de un videojuego en una página web (JavaScript) <br> <br>
      

    </div>
  </div>

  <!-- ------------------IDIOMAS------------------ -->
  <div class="fondo member">
    <div id="idiomas" class="curriculum idiomas thumb">
      <h2>Idiomas</h2>

          <p class="thumb"><b>Ingles:</b> Básico</p>
          <p class="thumb"><b>Español:</b> Nativo</p>
      
    </div>

  </div>
  </ul>
  </div>
</div>